.app-header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.app-main {
  text-align: center;
}

.add-task-main {
  padding: 10px;
}

.keyboard-shortcut {
  font-size: 15px;
  color: grey;
}
